body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#eef8e8;
}

header {
    background-color: #254610;
    color: white;
    padding: 20px 0;
    font-size: 20px;
    width:auto;
    
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.headerbutton
{
    transition-duration: 0.2s;
    background-color: #eef8e8;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
    color:black;
    
}
.headerbutton:hover
{
    background-color: #cad3c4;
    
}




@Media only screen and (max-width: 480px) {
    header nav a
    {
        position: absolute;
        margin-left: 0%;
        max-width: 100%;
    }
    header nav
    {
        max-width: 100%;
        height: 45px;
    }
    table
    {
        margin: 0 auto;
    }
    .searchbar
    {
        width: 120%;
    }
    

}
