body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#eef8e8;
}

header {
    background-color: #254610;
    color: white;
    padding: 1.5% 0;
    font-size: 2.5vh;
    width:auto;
    text-align: center;
}

header nav a {
    color: white;
    
    text-decoration: none;
}
.headerbutton
{
    transition-duration: 0.2s;
    background-color: #eef8e8;
    padding: 0.8%;
    padding-left: 1.4%;
    padding-right: 1.4%;
    border: 1px solid black;
    border-radius: 1vw;
    color:black;
    
}
.headerbutton:hover
{
    background-color: #cad3c4;
    
}




@Media only screen and (max-width: 480px) {
    .headerbutton
    {
        display: none;
    }
    

}
