
  .login-form {
    background: #fff;
    min-width: 30%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius:2em;
    border-bottom: solid 0.5vw rgba(0, 0, 0, 0.3);
    border-right: solid 0.5vh rgba(0, 0, 0, 0.3);
  }
  .login-form h1 {
    padding: 10% 10% 0 10%;
    font-weight: 300;
  }
  .login-form .content {
    padding: 0px;
    text-align: left;
  }
  .login-form .input-field {
    padding-bottom: 10%;
    text-align: center;

  }

  .login-form .input-field input {
    
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 13vw;
    padding: 5% 1%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 8%;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    
    color:#ffffff;
    margin-bottom: 10%;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    
  }
  .login-form .action button:nth-child(1) {
    background: #57cca5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .login-form .action button:nth-child(1):hover {
    background: #964e4e;
    color: black;
  }
  .login-form .action button:nth-child(2) {
    background: #2d3b55;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #0059ff;
  }
  .signupbutton {
    margin: 0 auto;
    width: 50%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #57cca5;
    color: #ffffff;
    border-radius: 10px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-bottom: 20px;
  }
  .signupbutton:hover
  {
    background: #964e4e;
    color: black;
  }

  h1 {
    text-align: center;
}





form{
    margin: 0 auto;
}


@Media only screen and (max-width: 550px) {
    .login-form
    {

        margin-top: 5%;
        width: 70%;
        height: 50%;
    }
    .login-form .input-field input
    {
      margin: 0 auto;
      width: 50vw;
    }
    .login-form .action
    {
      margin-right: 1000px;
      text-align: center;
    }
    .login-form .action button 
    {
      padding: 16%;
    }
}
    
    /* Mobile Landscape */
@Media only screen and (max-width: 734px) {
    #html{
    position: relative;
    
    }
}