.profileTable
{
    font-size: 15px;
    padding-top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 6px solid #254610;
    background-color: #c8eeb0;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    
    border-radius: 2vmin;
    width: 30%;
    height: auto;
    text-align: left;
    padding: 5px;
    padding-left: 25px;
    margin-top: 5%;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
#outputtable
{
    border-collapse: collapse;
    margin: 0 auto;
    
}
#tablehead th
{
    background-color: #254610;
    font-size: 2.5vh;
    padding: 1%;
    color: white;
    
}


#outputrows td
{
    padding: 2% 1.5vmin;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: #d7eec9;

}

#outputrows:first-child td
{
    border-top: 1vmin solid rgb(238, 248, 232);
}

#outputrows td:last-child
{
    border-right: none;
}

#tablediv
{
    border-radius: 2vmin;
    overflow-x:auto; 
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10%;
}


#outputrows:last-child td:first-child 
{
    border-bottom-left-radius: 2vmin;
}
#outputrows:last-child td:last-child
{
    border-bottom-right-radius: 2vmin;
}

/* Style the scrollbar container */
::-webkit-scrollbar {
    width: 1%; /* Width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #4f7736af; /* Color of the thumb */
    border-radius: 10vmin; /* Rounded corners for the thumb */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #254610b0; /* Color of the thumb on hover */
}



@Media only screen and (max-width: 480px)
{
    .profileTable
    {
        width: 80%;
    }

    #outputrows td
    {
        padding: 1% 3vmin;
    }

    #tablediv
    {
        width: 80%;
    }
}