body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef8e8;
}

table {
    margin-left: 43%;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    
}

th{
    background-color: #e3f5d7;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

td {
    background-color: #e3f5d7;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
td:hover {
    background-color: #e1e8dd;
    
}
tr {
    background-color: #254610;
}


.form1{
    margin-left: 43%;
    margin-top: 10px;
    text-align: start;
}

.searchbar
{
    margin-top: 10px;
    font-size: 18px; /* Adjust the font size */
    padding: 10px; /* Adjust the padding */
    height: 20px; /* Adjust the height */
    width: 37%;
}
.searchbutton
{
    
    background-color: #1d4b20;
    color: #e1e8dd;
    padding: 10px 20px; /* Adjust padding (vertical padding, horizontal padding) */
    font-size: 16px; /* Adjust the font size */
    height: 40px; /* Adjust the height */
    width: 100px; /* Adjust the width */
    border: none; /* Optional: Remove border */
    border-radius: 4px;
}

.radiobutton
{
    margin-top: 10px;
    margin-left: 1.5%;
}

.soru
{
    text-align: center;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #143b0c;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}




form{
    margin-left: 25%;
    margin-right: 25%;
}


@Media only screen and (max-width: 480px) {
    header nav a
    {
        position: absolute;
        margin-left: 0%;
        max-width: 100%;
    }
    header nav
    {
        max-width: 100%;
        height: 45px;
    }
    table
    {
        margin: 0 auto;
    }
    .searchbar
    {
        width: 120%;
    }
    

}
